@import "./components/sidebar/sidebar.css";
@import "./components/topbar/topbar.css";

:root {
  /* Sidebar variables */
  --sidebar-width: 125px;
  --sidebar-bg-color: #043954;
  --sidebar-dark-color: #0f567f;
  --sidebar-content-color: rgba(255, 255, 255, 0.815);
  /* Topbar variables */
  --topbar-height: 50px;
  --topbar-bg-color: #072d54;
  --topbar-dark-color: #1b8dcf;
}

/* CSS FOR MAIN BODY WRAPPER */

.main-wrapper {
  position: fixed;
  overflow-y: auto;
  bottom: 0;
  right: 0;
  left: var(--sidebar-width);
  top: var(--topbar-height);
  transition: all 0.4s ease-in-out;
}

.main-wrapper.sidebar-hidden {
  left: 0;
}

@media (max-width: 600px) {
  .main-wrapper {
    left: 0;
  }

  .main-wrapper.sidebar-hidden {
    left: var(--sidebar-width);
  }
}
