.topbar-container {
  position: fixed;
  width: 100%;
  height: var(--topbar-height);
  background: var(--topbar-bg-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.topbar-container .page-title {
  font-size: 1.4em;
  font-weight: 500;
  padding-left: 20px;
  display: inline-block;
  color: white;
}
