.img1 {
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
}
#html {
}

.logout {
  text-align: center;
}

.button {
  color: var(--topbar-bg-color);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 15px;
  width: 60%;
  padding: 2px;
}
.button1 {
  margin: 2px;
  padding: auto;
  border: 0px;
  background-color: rgb(75, 143, 206);
  text-justify: auto;
}

.button:hover {
  background-color: rgba(201, 74, 24, 0.795);
  color: white;
}

.sidebar-container {
  font-family: "Montserrat" sans-serif;
  background: var(--sidebar-bg-color);
  color: var(--sidebar-content-color);
  margin-top: var(--topbar-height);
  position: fixed;
  left: 0;
  height: 100%;
  transition: transform 0.4s;
}

.sidebar-item {
  padding: 20px 25px 20px 12px;
  transition: all 0.4s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.sidebar-item:hover {
  background: var(--sidebar-dark-color);
}

.sidebar-item.active {
  background: var(--sidebar-dark-color);
}

.sidebar-item i {
  width: 16px;
}

.sidebar-item span {
  margin-left: 10px;
  font-size: 0.8em;
}

.sidebar-toggle {
  font-size: 1.4em;
  display: inline-block;
  background: var(--topbar-bg-color);
  color: white;
  padding: 10px 10px;
  height: 100%;
  flex: 1;
  transition: all 0.1s;
}

.sidebar-container.hidden {
  transform: translateX(-100%);
}

@media (max-width: 600px) {
  .sidebar-container {
    transform: translateX(-100%);
  }
  .sidebar-container.hidden {
    transform: translateX(0);
  }
}

@media (hover: hover) {
  .sidebar-toggle:hover {
    background: var(--topbar-dark-color);
  }
}
