.popup {
    position: fixed;
    width: 100%; 
    top: 0;
    /*left: 0;*/
    right: 0;
    bottom: 0; 
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    padding:1.5%;
    
  }
  .popup_inner {
    position: absolute;
    padding:1.5%;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background: white;
  }
 
  
.popup_inner form {
  margin:5%;
  padding: 1.5%;
  border-radius:5px;
}
button 
{
  border: none;
  border-radius:5px;
  background-color: blue;
  color: #ffffff;
  padding: 1% 1%;
  padding-block: 2%;
}
input[type="text"],input[type="textarea"],select
{
  width: 50%;
  border:1px solid black;
  border-radius:5px;

}
#req
{
  margin: 2%;

}
#a1
{
  text-align: center;
  font-size: 30px;

}
label
{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  height: 20px;
  width: 200px;
  margin-top: 10px;
}
input,select
{
  height: 20px;
 width: 300px;
 border: 1px solid #000;
 margin-top: 10px;
 /* float: left; */
}
input[type="textarea"]
{
  height:100%;
}