#header{
    /* text-align: center;
    background-color: skyblue;
    margin-top: 0;
    padding:0; */
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color: var(--header-content-color);
    background-color:var(--header-bg-color);
}