body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background: url("../images/image2.jpg") center center no-repeat;
  
    /* Control the height of the image */

    /* added 50px (height of topbar) */
    min-height: 713px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  /*  position: relative;*/
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 30px 30px;
    max-width: 400px;
    padding: 16px;
    background-color: white;
    
  }
  
  /* Full-width input fields */
    .container input[type=text], .container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .container input[type=text]:focus,.container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: var(--footer-bg-color);
    color: white;
    padding: 6px 1px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
    background-color: var(--sidebar-dark-color);
  }

  .btn.active {
    background-color: var(--sidebar-dark-color);
  }

  .forgot {
    text-decoration: none;
  }